* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: Arial;
  font-weight: bold;
  color: #eee;
  line-height: 1.6;
  font-size: 1.6rem;
}

nav {
  display: flex;
  background-color: #c7d1d9;
  height: 18rem;
  align-items: center;
}
nav ul {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: space-evenly;
}
nav li {
  display: grid;
  width: 150px;
  height: 150px;
  background-color: grey;
  place-items: center;
}
nav li a {
  font-size: 22px;
  text-decoration: none;
  color: #eee;
}
.latest-articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}
.latest-articles h1 {
  width: 380px;
  text-align: center;
  background-color: gray;
  position: absolute;
  top: 5%;
  left: 36%;
}

.latest-articles .article {
  height: 110vh;
}

.latest-articles .article-1 {
  background-color: #5a5a5a;
}

.latest-articles .article-2 {
  background-color: #858585;
}

.latest-articles .article-3 {
  background-color: #535353;
}

.latest-articles .article-4 {
  background-color: #979797;
}

.signup {
  background-color: #3f3f3f;
  height: 74vh;
}

.latest-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.latest-posts .latest-post {
  height: 90vh;
}

.latest-posts .latest-post-1 {
  background-color: #c4c4c4;
}

.latest-posts .latest-post-2 {
  background-color: #cecece;
}

.latest-posts .latest-post-3 {
  background-color: #e2e2e2;
}

.signin {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.signin .sponsor {
  background-color: #a1a1a1;
  height: 93vh;
}

.signin .signin-form {
  background-color: #444444;
}

.later-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.later-posts .later-post {
  height: 94vh;
}

.later-posts .later-post-1 {
  background-color: #9c9c9c;
}

.later-posts .later-post-2 {
  background-color: #afafaf;
}

.later-posts .later-post-3 {
  background-color: #d4d4d4;
}

.later-posts .later-post-4 {
  background-color: #cfcfcf;
}

.later-posts .later-post-5 {
  background-color: #707070;
  grid-column: 2 / -1;
}

.conference {
  background-color: #3d3d3d;
  height: 120vh;
}

.community-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.person-of-week {
  height: 62vh;
  background-color: #808080;
}

.shared-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.shared-links .link {
  height: 50vh;
}

.shared-links .link-1 {
  background-color: #6b6b6b;
}

.shared-links .link-2 {
  background-color: #7e7e7e;
}

.shared-links .link-3 {
  background-color: #8b8b8b;
}

.shared-links .link-4 {
  background-color: #b1b1b1;
}

.shared-links .link-5 {
  background-color: #747474;
}

.shared-links .link-6 {
  background-color: #c2c2c2;
}

.featured-book {
  height: 70vh;
  background-color: #4b4b4b;
}

.curated-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 105vh 115vh;
}

.curated-posts .curated-post-1 {
  background-color: #747474;
}

.curated-posts .curated-post-2 {
  background-color: #8d8d8d;
}

.curated-posts .curated-post-3 {
  background-color: #a8a8a8;
}

.curated-posts .curated-post-4 {
  background-color: #bdbdbd;
}

.curated-posts .curated-post-5 {
  background-color: #818181;
  grid-column: span 2;
}

.footer {
  height: 97vh;
  background-color: #5c5c5c;
}
